* {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 10px;
}

#btn button {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: rgb(25, 102, 76);
    color: white;
}

#btn>button>a {
    color: aliceblue;
    text-decoration: none;
}

#box {
    width: 35%;
    height: 500px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 20px;
}

.box1 {
    border-radius: 10px;
}

.box1 #myform {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box1 #myform>input,
label,
select>option {
    margin: 5px 0px;
    padding: 5px;
}
#add{
    background-color: rgb(199, 7, 7);
}